@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); {
	font-family: Montserrat;
}

body {
	font-family: 'Montserrat', sans-serif;
	line-height: 2em;
	color: #415161;
	overscroll-behavior: none;
	background-color: white;
}

.titleStyle {
	font-size: 30px;
	text-align: center;
}

.articleTitle {
	font-size: 25px;
	margin-bottom: 1.5vh;
}

ul{
	list-style-type: disc;
	margin: 0.5em 0.5em 0.5em 3em;
	list-style-position: outside;
}

li{
	margin: 0.5em 0 0.5em 0;
}

.emailLink {
	text-align: center;
	text-decoration: underline;
}

.emailLink:hover {
	color: #2200CC;
}

.emailHeader{
	text-align:center;
}

.jobTitle{
margin-right: 0.7vh;
}

.projectLabels {
	width: 15px;
	font-size: 25px;
	margin-right: 3vh;
	height: 0px;
	word-wrap: break-word;
	text-align: center;
	vertical-align: middle;
}

.siteLinks {
	text-align: center;
	font-size: 18px;
	margin-bottom: 2.5vh;
}

.aboutMeContainer{
	background: #cfe7fd;
	height: 225px;
	margin-left: 52px;
	margin-bottom: 25px;
	margin-right: 4px;
}

.mePicture{
	position: absolute;
	margin-top: 50px;
	margin-left: 45px;
	width: 125px;
	height: 125px;
}

.aboutMe {
	position: absolute;
	margin-left: 250px;
	margin-top: 15px;
	font-size: 18px;
	text-align: left;
	width: 650px;
	margin-bottom: 2.5vh;
}

.portfolioTitle {
	font-size: 25px;
	text-align: center;
	margin-bottom: 1.5vh;
}

.shield {
	position: absolute;
	height: 250px;
	width: 310px;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 20pt;
	align-items: center;
	text-align: center;
	display: flex;
	opacity: 1;
	justify-content: center;
	transition: opacity 1s;
}

.shield:hover {
	opacity: 0;
	transition: opacity 1s;
}

.shieldArticle{
	float: inherit;
	position:absolute;
	color: rgba(200,200,200,0.5);
	background-color: rgba(0, 0, 0, 0.15);
	background-size: contain;
	font-size: 20pt;
	align-items: center;
	text-align: center;
	bottom: 50px;
	right: 0;
	display: flex;
	opacity: 1;
	justify-content: center;
	transition: opacity 1s;
	width: inherit;
	height: inherit;
}

.shieldArticle:hover {
	opacity: 0;
	transition: opacity 1s;
}

.projectImg {
}

.gridLabel{
	width: 40px;
	background-size: contain;
}

.gridLabel:before, .gridLabel_before{
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.label{
	vertical-align: middle;
}

.gridItem {
	flex: 0 0 310px;
	height: 250px;
	margin-bottom: 7px;
}

.gridContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.portfolioSqueeze{
	padding: 0 22px 0 22px;
}

.resumePage {
	text-align: center;
}

.articleContent{
	text-align: left;
}

.articleTitle{
	font-size: 35px;
	font-weight: bold;
}

.articleIntro{
	font-size: 20px;
	margin-bottom: 2.5vh;
	background: #cfe7fd;
	padding: 10px 10px 10px 10px;
}

.articleHeader{
	font-size: 25px;
	font-weight: bold;
	margin-top: 4vh;
	margin-bottom: 1.5vh;
}

.articleSubheader{
	font-size: 20px;
	font-weight: bold;
	margin-top: 4vh;
	margin-bottom: 1.5vh;
}

.articleParagraph{
	font-size: 20px;
	margin-bottom: 1.5vh;
}

.articlePicture{
	position: relative;
	background-color: #a4d4ff;
	padding: 1vh 1vh 0 1vh;
}

.imgTweak{
	background-color: #a4d4ff;
	padding: 1vh 1vh 0 1vh;
}

.articlePictureLeft{
	float: left; 
	margin-right: 1.5vh;
}

.articlePictureRight{
	float: right; 
	margin-left: 1.5vh;
}

.articlePictureCenter{
	display: flex;
	justify-content: center;
}

.subTitle{
	font-size: 14px;
	text-align: center;
	margin-bottom: 1vh;
}

.copyright{
	margin-top: 5vh;
	font-size: 12px;
	text-align: center;
}