.shield {
	position: absolute;
	height: 250px;
	width: 310px;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 20pt;
	align-items: center;
	display: flex;
	opacity: 1;
	justify-content: center;
	transition: opacity 1s;
}

.shield:hover {
	opacity: 0;
	transition: opacity 1s;
}

.gridItem {
	flex: 0 0 310px;
	height: 250px;
	margin-bottom: 10px;
}

.gridContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}